@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The Everything Store</h1>
    <p class="lead">
        This site is built in COMP2084 Server Side Scripting.
        It uses MVC 5, SQL Server, Entity Framework and Twitter Bootstrap.
    </p>
    <p>Source Code available on <a href="https://github.com/ifotn/the-everything-store">GitHub</a>.</p>
    <p>Bootstrap Superhero theme from <a href="https://bootswatch.com/3/superhero/">https://bootswatch.com/3/superhero/</a></p>
</div>

